@charset "UTF-8";

/* フォントの導入 -----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400,500,700,900&family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700;1,800&display=swap');

/* コンテンツ幅以下可変レイアウト -----------------------------------------*/
html {
    font-size: calc(10 * 100vw / 375);
    /* 375はSPデザインカンプの幅 */
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
        /* 1200はPCカンプのコンテンツ幅 */
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

/* スムーススクロール -----------------------------------------*/
html {
    scroll-behavior: smooth;
}

/* 全体的な設定 -----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    background-color: #fff;
    color: #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* ヘッダー -----------------------------------------*/
.header {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
}

.header__container {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1.6rem;
}

@media (min-width: 768px) {
    .header__container {
        height: 10.1rem;
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 2rem;
    }
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 16.5rem;
    color: #005BAC;
}

@media (min-width: 768px) {
    .header__logo {
        width: 24.1rem;
    }
}

/* ハンバーガーメニューの3本線ボタン */
.hamburger {
    width: 7rem;
    height: 7rem;
    background-color: #005BAC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.68rem;
    cursor: pointer;
}

.hamburger__line {
    display: block;
    width: 3rem;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
}

/* SP表示のナビメニュー（ハンバーガーメニューの中）ここから */
.header__nav-sp {
    position: fixed;
    top: 7rem;
    right: -100vw;
    width: 100vw;
    padding: 0 1.6rem;
    background-color: #005BAC;
    z-index: 1000;
    transition: right 0.3s ease;
}

.header__nav-sp.active {
    right: 0;
}

.header__list-sp {
    display: flex;
    flex-direction: column;
}

/* ヘッダーの「入学説明会に申し込む」ボタン */
.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 10rem;
    height: 6.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #005BAC;
    background: #fff;
    border-radius: 3.8rem;
    cursor: pointer;
    line-height: normal;
}

/* ハンバーガーメニューの中ここから */
.header__list-sp--left {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    padding: 1.8rem 0 1.7rem;
}

.header__list-sp--center {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.header__nav-sp-box {
    display: flex;
    align-items: center;
}

.header__arrow {
    width: 1.4rem;
    margin-right: 1.5rem;
}

.header__nav-sp-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
}

/* ボタンのホバー効果 */
.header__button:hover {
    opacity: 0.5;
}

/* ハンバーガーメニューの中ここまで */

/* PC表示のときはハンバーガーボタンとナビメニューを隠す */
@media (min-width: 768px) {
    .hamburger,
    .header__nav-sp {
        display: none;
    }
}

.header__nav-pc {
    display: none;
}

@media (min-width: 768px) {
    .header__nav-pc {
        display: block;
    }

    .header__list-pc {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 4.8rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .header__list-pc a:hover {
        color: #0A76E2;
    }
}

@media (min-width: 768px) {
    .header__button {
        display: inline-block;
        width: 28.2rem;
        height: 6.1rem;
        line-height: 6.1rem;
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        background: linear-gradient(to right, #0271E0, #53A2F0);
        border-radius: 3.8rem;
        text-align: center;
        cursor: pointer;
        transition: opacity 0.2s;
    }

    .header__button:hover {
        opacity: 0.7;
    }
}

/* ヒーロビュー -----------------------------------------*/
.hero {
    margin-top: 7rem;
    width: 100%;
    height: 25rem;
    background-image: url(/assets/image/main_visual_sp.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .hero {
        margin-top: 10rem;
        height: 65.5rem;
        background-image: url(/assets/image/main_visual_pc.jpg);
        background-position: center;
    }
}

@media (min-width: 1920px) {
    .hero {
        background-size: contain;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.4rem 1.6rem;
}

@media (min-width: 768px) {
    .hero__container {
        max-width: 120rem;
        margin: 0 auto;
        padding: 10.4rem 0 0 5rem;
    }
}

.batch {
    display: flex;
    justify-content: space-between;
    width: 14.725rem;
    height: 6.865rem;
}

@media (min-width: 768px) {
    .batch {
        width: 32.521rem;
        height: 15rem;
    }
}

.batch__frame-left {
    background-image: url(/assets/image/frame_left.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.407rem;
}

@media (min-width: 768px) {
    .batch__frame-left {
        width: 5.26rem;
    }
}

.batch__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.batch__frame-right {
    background-image: url(/assets/image/frame_right.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.408rem;
}

@media (min-width: 768px) {
    .batch__frame-right {
        width: 5.26rem;
    }
}

.hero__title-lower {
    line-height: 1;
    margin-top: 2.3rem;
}

@media (min-width: 768px) {
    .hero__title-lower {
        margin-top: 4.1rem;
    }
}

.hero__title-nankan {
    font-size: 1.1rem;
    line-height: 1rem;
    padding: 0.4rem 0 1.1rem;
}

@media (min-width: 768px) {
    .hero__title-nankan {
        font-size: 2rem;
        padding: 2rem 0 2.4rem;
    }
}

.hero__title-no {
    font-size: 2.5rem;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
    color: #F11F8D;
    line-height: 1;
}

@media (min-width: 768px) {
    .hero__title-no {
        font-size: 5.4rem;
        padding-left: 1rem;
    }
}

.hero__title-one {
    font-size: 3.6rem;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
    color: #F11F8D;
}

@media (min-width: 768px) {
    .hero__title-one {
        font-size: 7.4rem;
    }
}

.hero__title-geneki {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    .hero__title-geneki {
        font-size: 3.3rem;
        margin-bottom: 1.5rem;
    }
}

.hero__title-main {
    font-size: 2.5rem;
    font-weight: 900;
    color: #005BAC;
    line-height: 1.44;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .hero__title-main {
        font-size: 6rem;
        line-height: 1.4;
    }
}


/* ヒーロービュー下のボタン（ガイド） ----------------------------------*/
.guide__container {
    max-width: 37.5rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .guide__container {
        max-width: 120rem;
        padding: 0 30rem;
    }
}

.guide__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.2rem;
    padding: 2.4rem 0 3.2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .guide__group {
        flex-direction: row;
        justify-content: center;
        column-gap: 4rem;
        padding: 2.5rem 0 8.3rem;
        margin-top: -6.5rem;
    }
}

.guide__button {
    display: inline-block;
    width: 25rem;
    height: 4.8rem;
    line-height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background: #333;
    border-radius: 2.5rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

@media (min-width: 768px) {
    .guide__button {
        width: 34rem;
        height: 7.5rem;
        font-size: 2.4rem;
        border-radius: 3.8rem;
        line-height: 7.5rem;
    }
}

.guide__button:hover {
    opacity: 0.7;
}

.guide__button--lightgreen {
    background-color: #77CB33;
}

.guide__button--orange {
    background-color: #F6AA00;
}

.guide__button--cyan {
    background-color: #3AC8AD;
}

/* 選ばれる３つの理由  -----------------------------------------*/
.point {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .point {
        margin-bottom: 2.5rem;
    }
}

.point__container {
    max-width: 37.5rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .point__container {
        max-width: 120rem;
        padding: 0 2rem;
    }
}

.point__title {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
    .point__title {
        font-size: 3.6rem;
        margin-bottom: 4.2rem;
    }
}

.point__title-num {
    font-size: 4rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: #F11F8D;
    line-height: 1;
}

@media (min-width: 768px) {
    .point__title-num {
        font-size: 5.4rem;
    }
}

.point__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.4rem;
}

@media (min-width: 768px) {
    .point__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 3.2rem;
    }

    .point__content--reverce {
        flex-direction: row-reverse;
    }
}

.point__photo {
    width: 34.3rem;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 1.6rem;
    border-radius: 1.2rem;
}

@media (min-width: 768px) {
    .point__photo {
        width: 56rem;
        height: 34.6rem;
    }
}

.point__text-box {
    width: 100%;
}

@media (min-width: 768px) {
    .point__text-box {
        width: 56rem;
        padding: 1rem 0;
    }
}

.point__text-point {
    font-size: 2.4rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
    color: #F11F8D;
    line-height: 1;
    margin-bottom: 0.8rem;
}

@media (min-width: 768px) {
    .point__text-point {
        font-size: 2.8rem;
        margin-bottom: 0.6rem;
    }
}

.point__text-point-num {
    font-size: 3.6rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
    color: #F11F8D;
    line-height: 1;
    padding-left: 0.75rem;
}

@media (min-width: 768px) {
    .point__text-point-num {
        font-size: 4.2rem;
        padding-left: 0.7rem;
    }
}

.point__title-sub {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .point__title-sub {
        font-size: 2.4rem;
        line-height: 1.75;
        margin-bottom: 1.4rem;
    }
}

/* 入学説明会に申し込む -----------------------------------------*/
.information {
    background: rgba(255, 85, 85, 0.1);
    text-align: center;
    padding: 3.8rem 0 4rem;
}

@media (min-width: 768px) {
    .information {
        padding: 5.4rem 0 5.6rem;
    }
}

.information__title{
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .information__title {
        margin-bottom: 1.8rem;
    }
}

.information__sp {
    display: block;
}

@media (min-width: 768px) {
    .information__sp {
        display: none;
    }
}

.information__button {
    display: inline-block;
    width: 30.5rem;
    height: 6.9rem;
    line-height: 6.9rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, #0271E0, #53A2F0);
    border-radius: 3.8rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

@media (min-width: 768px) {
    .information__button {
        width: 36rem;
        height: 7.5rem;
        line-height: 7.5rem;
        font-size: 2.4rem;
        text-align: center;
        padding-left: 2rem;
    }
}

/* ボタンのホバー効果 */
.information__button:hover {
    opacity: 0.5;
}


/* コース・目的 -----------------------------------------*/
.course {
    margin: 6rem 0 6.2rem;
}

@media (min-width: 768px) {
    .course {
        margin: 6.8rem 0 7.1rem;
    }
}

.course__container {
    max-width: 37.5rem;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .course__container {
        max-width: 120rem;
        padding: 0 2rem;
    }
}

.course__title {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    padding-left: 1.5rem;
    margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
    .course__title {
        font-size: 3.6rem;
        padding-left: 0;
        margin-bottom: 2.6rem;
    }
}

/*  コース・目的のタブここから--------------------*/
.course__tab-group {
    display: flex;
    justify-content: space-between;
    padding: 0 1.6rem;
}

@media (min-width: 768px) {
    .course__tab-group {
        max-width: 120rem;
        padding: 0;
    }
}

.course__tab {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    width: calc(95% / 2);
    padding: 1.8rem 1.5rem;
    border-radius: 12px 12px 0 0;
    color: rgba(51, 51, 51, 0.5);
    background-color: #F0F0F0;
    cursor: pointer;
}

@media (min-width: 768px) {
    .course__tab {
        width: 56rem;
        font-size: 2.4rem;
        padding: 1.6rem;
    }
}

.course__tab.active {
    background-color: #F2F9FF;
    color: rgba(51, 51, 51, 1);
}

/* 写真のグループここから--------------------*/
.course__photo-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .course__photo-group {
        flex-direction: row;
        justify-content: space-between;
    }
}

.course__content {
    display: none;
}

.course__content.show {
    display: block;
    background-color: #F2F9FF;
}

.course__list-all {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.6rem 1.6rem 2.7rem;
}

@media (min-width: 768px) {
    .course__list-all {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        border-radius: 0 0 12px 12px;
        column-gap: 3.2rem;
        row-gap: 3.7rem;
        padding: 3.2rem 3.2rem 3rem;
    }
}

.course__list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .course__list {
        width: calc(50% - 1.6rem);
    }
}

/* マウスオーバーで透明度50%、PC版のみ拡大ここから------------*/
.course__picture-wrapper {
    border-radius: 1.2rem;
    overflow: hidden;
}

.course__picture {
    /*border-radius: 1.2rem;*/
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.course__picture:hover {
    opacity: 0.5;
}

/* PC版のみ画像を拡大させています */
@media (min-width: 1024px) {
    .course__picture:hover {
        transform: scale(1.2);
    }
}

/* マウスオーバーで透明度50%、PC版のみ拡大ここまで------------*/

.course__type-box {
    display: flex;
    align-items: center;
    padding: 0.85rem 0 2.6rem;
}

@media (min-width: 1024px) {
    .course__type-box {
        padding: 1.3rem 0 0;
    }
}

.course__type-arrow {
    width: 1.38rem;
    margin-right: 0.8rem;
    padding-top: 0.3rem;
}

@media (min-width: 768px) {
    .course__type-arrow {
        width: 1.731rem;
        margin-right: 1.1rem;
        padding-top: 0;
    }
}

.course__type-text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0;
}

/* 費用 -----------------------------------------*/
.price {
    margin: 6rem 0 6.1rem;
}

@media (min-width: 768px) {
    .price {
        margin: 6.7rem 0 6.9rem;
    }
}

.price__container {
    max-width: 37.5rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .price__container {
        max-width: 120rem;
        padding: 0 30rem;
    }
}

.price__title {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .price__title {
        font-size: 3.6rem;
        padding-left: 0;
        margin-bottom: 2.6rem;
    }
}

/* 費用の表ここから ---------*/
.price__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 3px solid #CCCCCC;
}

.price__header-all {
    background-color: #F5F5F5;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 2.3rem;
    line-height: 1;
}

@media (min-width: 768px) {
    .price__header-all {
        font-size: 1.8rem;
        padding: 2.7rem;
    }
}

.price__header-right {
    border-right: none;
        width: 11.4rem;
}

.price__header-left {
    border-left: none;
    padding-right: 3.5rem;
}

@media (min-width: 768px) {
    .price__header-right {
        border: 1px solid #CCCCCC;
        width: 14.2rem;
    }

    .price__header-left {
        border: 1px solid #CCCCCC;
        padding-right: 2.8rem;
    }
}

.price__data {
    border: 1px solid #CCCCCC;
    text-align: center;
    vertical-align: middle;
    padding: 1.7rem;
    line-height: 1;
}

@media (min-width: 768px) {
    .price__data {
        font-size: 1.8rem;
        padding: 2.2rem;
    }
}

.price__unique-font--number {
    font-family: "Poppins", serif;
    font-size: 2.8rem;
    font-weight: 700;
    font-style: normal;
    color: #F11F8D;
    padding-left: 1rem;
}

.price__unique-font--yen {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #F11F8D;
}

@media (min-width: 768px) {
    .price__unique-font--number {
        font-size: 3.2rem;
        padding-left: 2.2rem;
    }

    .price__unique-font--yen {
        font-size: 1.8rem;
    }
}

/* 費用ここまで -------------*/

/* フッターここから------------------------------------*/
.footer-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 768px) {
    .footer-banner {
        flex-direction: row;
        align-items: flex-start;
    }
}

/* 画像の透明度と拡大のアニメーション */
.footer-banner__wrapper {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
    .footer-banner__wrapper {
        width: 50%;
    }
}

/* 背景画像を設定 */
.footer-banner__picture-left,
.footer-banner__picture-right {
    position: relative;
    display: block;
    height: 17rem;
    background-size: cover;
    background-position: left;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-banner__picture-left {
    background-image: url(/assets/image/qa_sp.jpg);
}

.footer-banner__picture-right {
    background-image: url(/assets/image/classrooms_sp.jpg);
}

/* 透明度アニメーション */
.footer-banner__picture-left::before,
.footer-banner__picture-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
}

/* ホバー時の効果 */
.footer-banner__picture-left:hover::before,
.footer-banner__picture-right:hover::before {
    background-color: rgba(255, 255, 255, 0.3);
}

/* PC版で画像変更 */
@media (min-width: 768px) {
    .footer-banner__picture-left {
        height: 32rem;
        background-image: url(/assets/image/qa_pc.jpg);
        background-position: center;
    }

    .footer-banner__picture-right {
        height: 32rem;
        background-image: url(/assets/image/classrooms_pc.jpg);
        background-position: center;
    }

    /* PC版で画像のみ拡大 */
    .footer-banner__picture-left:hover,
    .footer-banner__picture-right:hover {
        transform: scale(1.2);
    }
}

/* バナー画像上のテキスト */
.footer-banner__text {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    z-index: 10;
}

@media (min-width: 768px) {
    .footer-banner__text {
        font-size: 3.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}



/* フッター下方の帯、コピーライト表記 */
.footer-belt {
    background-color: #DDD;
    height: 8.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .footer-belt {
        height: 12rem;
    }
}

.footer-belt__copyright {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: #333;
    padding-left: 1.3rem;
}

@media (min-width: 768px) {
    .footer-belt__copyright {
        padding-left: 0;
    }
}

/* フッターここまで------------------------------------*/