@charset "UTF-8";

/* フォントの導入 -----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400,500,700,900&family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700;1,800&display=swap');

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: #F11F8D;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: #F11F8D;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
    color: #F11F8D;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
    color: #F11F8D;
}

.font__size--25 {
    font-size: 2.5rem;
}

.font__size--36 {
    font-size: 3.6rem;
}

.font__size--56 {
    font-size: 5.6rem;
}


/* コンテンツ幅以下可変レイアウト -----------------------------------------*/
html {
    font-size: calc(10 * 100vw / 413);
    /* 413はSPデザインカンプの幅 */
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
        /* 1200はPCカンプのコンテンツ幅 */
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

/* スムーススクロール -----------------------------------------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

/* 全体的な設定 -----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    background-color: #fff;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 共通クラス -----------------------------------------*/
.common_container {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

@media (min-width: 768px) {
    .common_container {
        max-width: 120rem;
        padding: 0 2rem;
        margin: 0 auto;
    }
}

.sp {
    display: block;
}

.pc {
    display: none;
}

@media (min-width: 768px) {
    .sp {
        display: none;
    }

    .pc {
        display: block;
    }
}

/* ボタンの設定ここから -----------------------------------------*/




.button__main {
    display: inline-block;
    width: 25rem;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background: #333;
    border-radius: 2.5rem;
    text-align: center;
    line-height: 4.8rem;
    /* ボタンの高さに合わせて中央揃え */
    cursor: pointer;
    transition: opacity 0.2s;
}

/* ボタンの設定ここまで -----------------------------------------*/

/* ヘッダー -----------------------------------------*/
.header {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 0 0 1.6rem;

}

@media (min-width: 768px) {
    .header__inner {
        max-width: 120rem;
        margin: 0 auto;
        height: 10.1rem;
        padding: 0 2rem;
    }
}

.header__logo img {
    width: 16.6rem;
    color: #005BAC;
}

@media (min-width: 768px) {
    .header__logo img {
        width: 24.1rem;
    }
}

.hamburger {
    width: 7rem;
    height: 7rem;
    background-color: #005BAC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2rem;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 0.4rem 0;
    /* スペース調整 */
    border-radius: 2px;
}

.header__nav--sp {
    position: fixed;
    top: 7rem;
    /* ヘッダーの高と同値にする */
    right: -100vw;
    width: 100vw;
    height: 331px;
    color: #fff;
    background-color: #005BAC;
    padding: 2rem;
    transition: right 0.3s ease;
    z-index: 1000;
}

/* activeクラスが付与されたときに画面内にスライドイン */
.header__nav--sp.active {
    right: 0;
    /* 画面右側に表示 */
}

.header__nav--sp--list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {

    .hamburger,
    .header__nav--sp {
        display: none;
    }
}

.header__nav--pc {
    display: none;
}

@media (min-width: 768px) {
    .header__nav--pc {
        display: block;
    }

    .header__nav--pc--list {
        display: flex;
        align-items: center;
        column-gap: 4.8rem;
        font-size: 2rem;
    }

    .header__nav--pc--list a {
        font-weight: 500;
    }

    .header__nav--pc--list a:hover {
        color: #0A76E2;
    }
}

.button__header {
    display: inline-block;
    width: 3.5rem;
    height: 6.6rem;
    line-height: 6.6rem;
    /* 垂直に中央揃えする為に高さと同値にする事 */
    font-weight: 700;
    color: #005BAC;
    background: #fff;
    border-radius: 3.8rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

@media (min-width: 768px) {
    .button__header {
        display: inline-block;
        width: 28.2rem;
        height: 6.1rem;
        font-weight: 700;
        color: #fff;
        background: linear-gradient(to right, #0271E0, #53A2F0);
        border-radius: 3.8rem;
        text-align: center;
        line-height: 6.1rem;
        /* ボタンの高さに合わせて中央揃え */
        cursor: pointer;
        transition: opacity 0.2s;
    }

    .button__header:hover {
        opacity: 0.7;
        /* 全体を少し透明にして白っぽく */
    }
}


/* ヒーロビュー -----------------------------------------*/
.hero {
    height: 250px;
    overflow: hidden;
    /* はみ出た部分を非表示 */
    margin-top: 7rem;
}

@media (min-width: 768px) {
    .hero {
        height: 650px;
        margin-top: 10rem;
    }
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    overflow: hidden;
}

.hero__content--inner {
    position: relative;
    max-width: 37.5rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .hero__content--inner {
        max-width: 120rem;
    }
}

.hero__content {
    position: absolute;
    top: -21.6rem;
    left: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

@media (min-width: 768px) {
    .hero__content {
        top: -54.6rem;
        left: 6.2rem;
    }

}

.hero__content-upper {
    width: 14.725rem;
    height: 6.865rem;
    background-image: url(../image/frame.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .hero__content-upper {
        width: 32.521rem;
        height: 15rem;
        margin-bottom: 3.2rem;
    }
}

.hero__content-upper h2 {
    font-size: 1.1rem;
    line-height: 3.1rem;
}

.hero__content-upper h2 span {
    font-size: 2.5rem;
}

.hero__content-upper h2 span:last-child {
    font-size: 3.6rem;
}

@media (min-width: 768px) {
    .hero__content-upper h2 {
        font-size: 2rem;
        line-height: 1.45;
    }

    .hero__content-upper h2 span {
        font-size: 5.4rem;
    }

    .hero__content-upper h2 span:last-child {
        font-size: 7.4rem;
    }

}

.hero__content-lower p {
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .hero__content-lower p {
        font-size: 3.3rem;
    }
}

.hero__content-lower h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #005BAC;
    line-height: 1.44;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .hero__content-lower h2 {
        font-size: 6rem;
        line-height: 1.4;
    }
}


.hero__button_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.2rem;
    padding: 2.4rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .hero__button_group {
        position: absolute;
        top: -5rem;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        justify-content: center;
        column-gap: 4rem;
    }
}

.color__lightgreen {
    background-color: #77CB33;
}

.color__orange {
    background-color: #F6AA00;
}

.color__cyan {
    background-color: #3AC8AD;
}

/* 選ばれる３つの理由  -----------------------------------------*/
.main__point h2 {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.main__point span {
    font-size: 4rem;
}

.main__point--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.6rem;
}

/* 入学説明会に申し込む -----------------------------------------*/
.information {
    background-color: #FF5555;
    opacity: 0.1;
    text-align: center;
}

/* フッター -----------------------------------------*/
.footer {
    background-color: #DDD;
    height: 8.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-size: 1.3rem;
    color: #333;
}