@charset "UTF-8";

/* フォントの導入 -----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400,500,700,900&family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700;1,800&display=swap');

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: #F11F8D;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: #F11F8D;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
    color: #F11F8D;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
    color: #F11F8D;
}



/* コンテンツ幅以下可変レイアウト -----------------------------------------*/
html {
    font-size: calc(10 * 100vw / 375);
    /* 413はSPデザインカンプの幅 */
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
        /* 1200はPCカンプのコンテンツ幅 */
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

/* スムーススクロール -----------------------------------------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

/* 全体的な設定 -----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    background-color: #fff;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 共通クラス -----------------------------------------*/
.common_container {
    max-width: 37.5rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .common_container {
        max-width: 120rem;
        padding: 0 2rem;
        margin: 0 auto;
    }
}

.sp {
    display: block;
}

.pc {
    display: none;
}

@media (min-width: 768px) {
    .sp {
        display: none;
    }

    .pc {
        display: block;
    }
}

/* ヘッダー -----------------------------------------*/
.header {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 0 0 1.6rem;

}

@media (min-width: 768px) {
    .header__inner {
        max-width: 120rem;
        margin: 0 auto;
        height: 10.1rem;
        padding: 0 2rem;
    }
}

.header__logo img {
    width: 16.6rem;
    color: #005BAC;
}

@media (min-width: 768px) {
    .header__logo img {
        width: 24.1rem;
    }
}

.hamburger {
    width: 7rem;
    height: 7rem;
    background-color: #005BAC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2rem;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 0.4rem 0;
    /* スペース調整 */
    border-radius: 2px;
}

.header__nav--sp {
    position: fixed;
    top: 7rem;
    /* ヘッダーの高と同値にする */
    right: -100vw;
    width: 100vw;
    height: 331px;
    color: #fff;
    background-color: #005BAC;
    padding: 2rem;
    transition: right 0.3s ease;
    z-index: 1000;
}

/* activeクラスが付与されたときに画面内にスライドイン */
.header__nav--sp.active {
    right: 0;
    /* 画面右側に表示 */
}

.header__nav--sp--list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {

    .hamburger,
    .header__nav--sp {
        display: none;
    }
}

.header__nav--pc {
    display: none;
}

@media (min-width: 768px) {
    .header__nav--pc {
        display: block;
    }

    .header__nav--pc--list {
        display: flex;
        align-items: center;
        column-gap: 4.8rem;
        font-size: 2rem;
    }

    .header__nav--pc--list a {
        font-weight: 500;
    }

    .header__nav--pc--list a:hover {
        color: #0A76E2;
    }
}

.button__header {
    display: inline-block;
    width: 3.5rem;
    height: 6.6rem;
    line-height: 6.6rem;
    /* 垂直に中央揃えする為に高さと同値にする事 */
    font-weight: 700;
    color: #005BAC;
    background: #fff;
    border-radius: 3.8rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

@media (min-width: 768px) {
    .button__header {
        display: inline-block;
        width: 28.2rem;
        height: 6.1rem;
        font-weight: 700;
        color: #fff;
        background: linear-gradient(to right, #0271E0, #53A2F0);
        border-radius: 3.8rem;
        text-align: center;
        line-height: 6.1rem;
        /* ボタンの高さに合わせて中央揃え */
        cursor: pointer;
        transition: opacity 0.2s;
    }

    .button__header:hover {
        opacity: 0.7;
        /* 全体を少し透明にして白っぽく */
    }
}


/* ヒーロビュー -----------------------------------------*/
.hero {
    margin-top: 7rem;
    width: 100vw;
    height: 25rem;
    background-image: url(/assets/image/main_visual_sp.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .hero {
        margin-top: 10rem;
        height: 65.1rem;
        background-image: url(/assets/image/main_visual_pc.jpg);
        background-position: center;
    }
}

@media (min-width: 1920px) {
    .hero {
        background-size: contain;
    }
}

.hero__container {
    padding: 3.4rem 1.6rem;
}

@media (min-width: 768px) {
    .hero__container {
        max-width: 120rem;
        margin: 0 auto;
        padding: 10.4rem 0 0 5rem;
    }
}

.hero__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.hero__title-upper {
    width: 14.725rem;
    height: 6.865rem;
    background-image: url(../image/frame.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 2.7rem;
}

@media (min-width: 768px) {
    .hero__title-upper {
        width: 32.521rem;
        height: 15rem;
        margin-bottom: 3.2rem;
    }
}

.hero__title-upper h2 {
    font-size: 1.1rem;
    line-height: 3.1rem;
}

.hero__title-upper h2 span {
    font-size: 2.5rem;
}

.hero__title-upper h2 span:last-child {
    font-size: 3.6rem;
}

@media (min-width: 768px) {
    .hero__title-upper h2 {
        font-size: 2rem;
        line-height: 1.45;
    }

    .hero__title-upper h2 span {
        font-size: 5.4rem;
    }

    .hero__title-upper h2 span:last-child {
        font-size: 7.4rem;
    }

}

.hero__title-lower p {
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .hero__title-lower p {
        font-size: 3.3rem;
    }
}

.hero__title-lower h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #005BAC;
    line-height: 1.44;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .hero__title-lower h2 {
        font-size: 6rem;
        line-height: 1.4;
    }
}


.hero__button_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.2rem;
    padding: 2.4rem 0 1.7rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .hero__button {
        margin-top: -6rem;
    }

    .hero__button_group {
        flex-direction: row;
        justify-content: center;
        column-gap: 4rem;
    }
}

.button__hero {
    display: inline-block;
    width: 25rem;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background: #333;
    border-radius: 2.5rem;
    text-align: center;
    line-height: 4.8rem;
    /* ボタンの高さに合わせて中央揃え */
    cursor: pointer;
    transition: opacity 0.2s;
}

@media (min-width: 768px) {
    .button__hero {
        width: 34rem;
        height: 7.5rem;
        font-size: 2.4rem;
        border-radius: 3.8rem;
        line-height: 7.5rem;
        /* ボタンの高さに合わせて中央揃え */
    }

    .button__hero:hover {
        opacity: 0.7;
        /* 全体を少し透明にして白っぽく */
    }
}

.color__lightgreen {
    background-color: #77CB33;
}

.color__orange {
    background-color: #F6AA00;
}

.color__cyan {
    background-color: #3AC8AD;
}

/* 選ばれる３つの理由  -----------------------------------------*/
.point {
    margin-top: 0;
}

@media (min-width: 768px) {
    .point {
        padding-top: 6.3rem;
    }
}

.popint__title {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.popint__title span {
    font-size: 4rem;
}

@media (min-width: 768px) {
    .popint__title {
        font-size: 3.6rem;
        margin-bottom: 3rem;
    }

    .point__title span {
        font-size: 5.4rem;
    }
}

.point__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.6rem;
}

@media (min-width: 768px) {
    .point__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4.8rem;
    }

    .reverce {
        flex-direction: row-reverse;
    }
}

.point__photo {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    overflow: hidden;
}

@media (min-width: 768px) {
    .point__photo {
        width: 56rem;
        height: 34.6rem;
        padding-right: 2rem;
    }
}

.point__text {
    width: 100%;
}

@media (min-width: 768px) {
    .point__text {
        width: 50%;
        padding-left: 2.9rem;
    }
}

.point__text h3 {
    font-size: 2.4rem;
}

.point__text h3 span {
    font-size: 3.6rem;
}

@media (min-width: 768px) {
    .point__text h3 {
        font-size: 2.8rem;
    }

    .point__text h3 span {
        font-size: 3.2rem;
    }
}

.point__text h4 {
    font-size: 2rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .point__text h4 {
        font-size: 2.4rem;
    }
}

/* 入学説明会に申し込む -----------------------------------------*/
.information {
    /*background-color: #FF5555;
    opacity: 0.1;*/
    background: rgba(255, 85, 85, 0.1);
    text-align: center;
    padding: 4rem 0;
}

@media (min-width: 768px) {
    .information {
        padding: 5.6rem 0;
    }
}

.button__information {
    display: inline-block;
    width: 30.5rem;
    height: 6.9rem;
    line-height: 6.9rem;
    /* 垂直に中央揃えする為に高さと同値にする事 */
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, #0271E0, #53A2F0);
    border-radius: 3.8rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s;
    margin-top: 1.2rem;
}

/* コース・目的 -----------------------------------------*/
.course {
    margin-top: 6.4rem;
}

@media (min-width: 768px) {
    .course {
        margin-top: 7.2rem;
    }
}

.course__title {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.1rem;
}

@media (min-width: 768px) {
    .course__title {
        font-size: 3.6rem;
        margin-bottom: 2.8rem;
    }
}

/*タブの設定ここから*/
.course {
    max-width: 37.5rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

.course__container {
    margin-bottom: 6.3rem;
}

@media (min-width: 768px) {
    .course {
        max-width: 120rem;
        margin: 0 auto;
    }

    .course__container {
        margin-bottom: 7.2rem;
    }
}

.course__tabs {
    display: flex;
    justify-content: space-between;
}

.course__tab {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    width: calc(95% / 2);
    padding: 2rem;
    border-radius: 12px 12px 0 0;
    background-color: #F0F0F0;
    cursor: pointer;
}

@media (min-width: 768px) {
    .course__tab {
        font-size: 2.4rem;
    }
}

.course__tab.active {
    background-color: #F2F9FF;
}

.course__content {
    display: none;
    /*必須*/
}

.course__content.show {
    display: block;
    /*必須*/
    background-color: #F2F9FF;
}

/* タブの中身で写真のリスト */
.course__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 2.8rem 1.6rem;
}

@media (min-width: 768px) {
    .course__list {
        flex-direction: row;
        justify-content: space-between;
        padding: 3.2rem;
        column-gap: 3.1rem;
    }
}

.course__photo {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.course__type {
    font-size: 2rem;
    font-weight: 700;
    padding: 1.6rem 0;
}

/*タブの設定ここまで*/

/* フッター -----------------------------------------*/
.footer {
    background-color: #DDD;
    height: 8.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-size: 1.3rem;
    color: #333;
}